<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{{.user.Username}} - Timesheet</title>
{{template "block.head.html" .}}
</head>
<body>

<div id="chrome" class="user">

    {{template "block.user.toolbar.html" .}}

    <h1>{{.session.User.Username}}</h1>

    {{if .message}}
    <h2 class="message">{{.message}}</h2>
    {{end}}

    <form class="standard update" method="POST" name="update">
        <h2>Update Password</h2>
        <p>
            <input class="standard" id="update-current_password" maxlength="256" name="current_password" placeholder="current password" required="required" type="password">
            {{if .errors.current_password}}<span class="error">{{.errors.current_password}}</span>{{end}}
        </p>
        <p>
            <input class="standard" id="update-new_password" maxlength="256" name="new_password" placeholder="new password" required="required" type="password">
            {{if .errors.new_password}}<span class="error">{{.errors.new_password}}</span>{{end}}
        </p>
        <p>
            <input class="standard" id="update-confirm_password" maxlength="256" name="confirm_password" placeholder="confirm password" required="required" type="password">
            {{if .errors.confirm_password}}<span class="error">{{.errors.confirm_password}}</span>{{end}}
        </p>
        <p>
            <button class="standard" id="update-submit" type="submit">Update</button>
        </p>
    </form>

</div>

</body>
</html>

