<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{{.session.User.Username}} - Timesheet</title>
{{template "head.inc" .}}
<script src="{{.baseurl}}/static/js/jquery-2.1.3.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function() {
    });
</script>
</head>
<body>

<div id="chrome" class="user">

    {{template "toolbar.inc" .}}

    <h1>{{.session.User.Username}}</h1>

    {{if .errors._success}}
    <h2 class="success">{{.errors._success}}</h2>
    {{end}}

    <form class="standard client" method="POST" name="client">
        <h2>Add a new client</h2>
        <h3>Client Infomation</h3>
        <p>
            <input class="standard{{if .errors.name}} error{{end}}" id="client-name" maxlength="256" name="name" placeholder="client name" required="required" type="text" value="{{.form.name}}">
            {{if .errors.name}}<span class="error">{{.errors.name}}</span>{{end}}
        </p>
        <p>
            <input class="standard{{if .errors.description}} error{{end}}" id="client-description" maxlength="256" name="description" placeholder="description of work" required="required" type="text" value="{{.form.description}}">
            {{if .errors.description}}<span class="error">{{.errors.description}}</span>{{end}}
        </p>
        <p>
            <textarea class="standard" id="client-client_address" name="client_address" placeholder="client address">{{.form.client_address}}</textarea>
        </p>
        <p>
            <textarea class="standard" id="client-client_contact" name="client_contact" placeholder="client contact">{{.form.client_contact}}</textarea>
        </p>
        <h3>Invoice Infomation</h3>
        <p>
            <input class="standard{{if .errors.invoice_startdate}} error{{end}}" id="client-invoice_startdate" maxlength="256" name="invoice_startdate" placeholder="start date [yyyy-mm-dd]" required="required" type="text" value="{{.form.invoice_startdate}}">
            {{if .errors.invoice_startdate}}<span class="error">{{.errors.invoice_startdate}}</span>{{end}}
        </p>
        <p>
            <input class="standard{{if .errors.invoice_days}} error{{end}}" id="client-invoice_days" maxlength="256" name="invoice_days" placeholder="days [number]" required="required" type="text" value="{{.form.invoice_days}}">
            {{if .errors.invoice_days}}<span class="error">{{.errors.invoice_days}}</span>{{end}}
        </p>
        <p>
            <input class="standard{{if .errors.invoice_rate}} error{{end}}" id="client-invoice_rate" maxlength="256" name="invoice_rate" placeholder="rate [0.00]" type="text" value="{{.form.invoice_rate}}">
            {{if .errors.invoice_rate}}<span class="error">{{.errors.invoice_rate}}</span>{{end}}
        </p>
        <h3>Company Infomation</h3>
        <p>
            <textarea class="standard" id="client-company_address" name="company_address" placeholder="invoice address">{{.form.company_address}}</textarea>
        </p>
        <p>
            <textarea class="standard" id="client-company_contact" name="company_contact" placeholder="invoice contact">{{.form.company_contact}}</textarea>
        </p>
        <p>
            <button class="standard" id="client-submit" type="submit">Add</button>
        </p>
    </form>

</div>

</body>
</html>

